* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #000000;

}

.nav-bar-search-box {
    width: 33%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 80px;
    /* background: #ffffff; */
    /* border: solid 2px #19bc7d; */
    /* border: solid 2px #191970; */
    border: solid 1px #e7e7e7;

}
.search-box{
    width: 90%;
    height: 100%;
    margin-right: 5px;
    padding-left: 10px;
    border-style: none;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    background: #00000000;
    color: #b8b8b8d7;
    font-size: 15px;
}
.search-box:focus{
    border-style: none;
}
.srchiconimg {
    height: 60%;
    margin-right: 20px;
}

.nav-branding {
    width: 33%;
    height: 90%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: gray; */
    gap: 5px;
}

.nav-branding1 {
    color: #19bc7d;
}

.nav-branding2 {
    color: #ffffff;
}

.navbar-items {
    width: 40%;
    height: 100%;
    /* background: #000; */
    display: flex;
}

.profile {
    /* background: #000; */
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-itesm {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: #000; */
}

.img-div {
    width: 40px;
    height: 40px;
    object-fit: contain;
    /* background: #880a0a; */
}

.userprofileicon {
    width: 100%;
    height: 100%;
}

.homebtn {
    text-decoration: none;
}


.under-nav-optins {
    width: 100%;
    height: 55px;
    gap: 20%;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-top: 1px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    border-top: solid 1px #ffffff;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    color: #ffffff;
    /* background: #000; */
}

li:hover {
    color: #1ee196;
}