@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400..900&family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@200;300;400;600;700&family=Rowdies:wght@300;400;700&family=TASA+Orbiter:wght@400..800&display=swap');
* {
    margin: 0;
    padding: 0;

    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  font-style: normal;
}

.navbar-container {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #202A38;
    position: fixed;
    z-index: 9;
    /* display: none; */
}

.nav-bar-search-box {
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 80px;
    /* background: #ffffff; */
    /* border: solid 2px #19bc7d; */
    /* border: solid 2px #191970; */
    border: solid 1px #F8F6F0;

}
.search-box{
    width: 90%;
    height: 100%;
    margin-right: 5px;
    padding-left: 10px;
    border-style: none;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    background: #00000000;
    color: #F8F6F0;
    font-size: 15px;
}
.search-box:focus{
    border-style: none;
}
.srchiconimg {
    height: 60%;
    margin-right: 20px;
}

.nav-branding {
    width: 33%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: gray; */
    gap: 5px;
}
.nav-branding img {
    height: 130%;
}

.navbar-items {
    width: 40%;
    height: 100%;
    /* background: #000; */
    display: flex;
}

.profile {
    /* background: yellow; */
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-items {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: #000; */
}

.img-div {
    height: 25px;
    object-fit: contain;
    /* background: #880a0a; */
}

.userprofileicon {
    width: 100%;
    height: 100%;
}
.userprofileicon:hover {
    filter: brightness(0) invert(1);
}

.homebtn {
    text-decoration: none;
    color: #F8F6F0;
}


.under-nav-options {
    width: 100%;
    height: 55px;
    /* gap: 20%; */
    font-size: 12px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* margin-top: 1px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    border-top: solid 1px #ffffff;
    margin-top: 65px;
    z-index: 1;
    position: absolute;
}



ul {
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 90px; */
    font-size: 20px;
    color: #ffffff;
    /* background: #000; */
}

li:hover {
    color: #D4AF37;
}