@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400..900&family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@200;300;400;600;700&family=Rowdies:wght@300;400;700&family=TASA+Orbiter:wght@400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  font-style: normal;
}

.offer-container {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: start;
    justify-content: center;
    /* margin-top: 1px; */
    /* margin-bottom: 10px; */
    padding-top: 100px;
    background: #000000;
}

.banner-video {
    position: relative;
    width: 75%;
    margin-left: 25%;
}

.overly-text {
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    position: absolute;
    /* z-index: 1; */
    /* background: green; */
}
.video-txt {
    width: 45%;
    height: 100%;
    font-size: 80px;
    text-align: left;
    line-height: 120px;
    margin-top: 3%;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  font-style: normal;
  color: #a8adb5;
    /* background: #000; */
}

.text-off {
    width: 100%;
    height: 500px;
    margin-top: 5%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgb(126, 91, 91); */
}
.products-heading {
    width: 50%;
    height: 100px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    /* background: #000; */
}
.products-heading h3 {
    width: 50%;
    text-align: center;
}
hr {
    width: 30%;
    /* border-style: none; */
    border: solid 1px black;
}

.brands {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rebeccapurple; */
}
.brandlogo-container {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #000; */
}

.brandlogo-container img {
    height: 50%;
    /* background: #000; */

}