*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-main-container {
    width: 100%;
    height: min-content;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: #4f2929; */
}

.new-arraival-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 10px;
    /* background: #000; */
}
.newarraivalvara {
    width: 70%;
    margin-left: 3%;
    
}

.items-container {
    width: 90%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* background: #000; */
}

.items {
    width: 85%;
    height: 550px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #ac3d3d; */
}

.na-img-sec {
    /* background: red; */
    height: 60%;
    width: 75%;
}
.na-img-sec:hover {
    border: solid 1px #000000;
}

.na-img-sec img {
    width: 100%;
    height: 100%;
}

.naprdtdetails {
    width: 100%;
    height: 20%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background: rebeccapurple; */
}